body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #004578;
}

select {
  padding: 6px 12px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  background: #004578;
  color: white;
}

tr:nth-child(even) {
  background: #f2f9ff;
}
